body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  /* second-family: 'Raleway', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

img {
  display: block;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: #434455; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
