/* #region header  */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 100%;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 320px; */
    width: 100%;
    margin: 0;
    padding: 16px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
    height: 100%;
    /* width: 100vw; */
  }

  .header-section .container.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Use 100% to make the container span the full width */
    margin: 0; /* Remove margin for the header's container only */
    padding: 16px; /* Uniform padding for spacing inside the container */
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08); /* Keep the box-shadow */
    box-sizing: border-box; /* Ensure padding is included within the width */
  }
  .nav > .menu {
    display: none;
  }

  .menu-nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    background: none;
    padding: 0;
  }

  .menu-nav-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .nav-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }

  .nav-icon {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 100%;
    height: 100%;

    /* .icon-group-lines {
  width: 1.125em;
} */
  }
}
/* #endregion header  */

/* #region Mob-Menu Section for mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .mob-menu-section {
    width: 100vw;
    height: 100wh;
    /* position: fixed;
    top-0; */
  }
  .mob-menu-item {
  }

  .mob-menu-item .menu-first-link {
    color: #4d5ae5;
  }
  .mob-address {
  }
  .address-list {
  }
  .address-list-item {
  }
  .address-link {
  }

  .menu-link {
    display: block;
    /* position: relative; */
    font-weight: 500;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 40px;
    padding-bottom: 40px;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mob-address {
    color: #434455;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;

    /* line-height: 24px; */
    /* line-height: 1.2;
    letter-spacing: 0.02em;
    color: #4d5ae5; */
  }
  .address-list-item {
    box-sizing: content-box;
    position: relative;
  }

  .address-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: inherit;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: lowercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}
/* #endregion Mob-Menu Section for mobile */

/* #region Hero  */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/dark-bg-tablet-2x.jpg);
  }
  @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-mobile-2x.jpg);
    }
  }

  .hero-container {
    padding-top: 72px;
    padding-bottom: 88px;
    padding-left: 5ch;
    padding-right: 52px;
  }
}
/* #endregion Hero  */

/* #region Benefits  */
@media screen and (max-width: 1157px) {
  .icon-wrap {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .benefits {
    padding: 96px 0;
  }
  .container {
    margin: 0 auto;
    padding: 0 16px;
    /* width: 100vw; */
    max-width: 320px;
  }
  .benefits-container {
    /* padding: 0 15px; */
    min-width: 320px;
    max-width: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .benefits-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 108px;
  }

  .benefits-list-item {
    width: calc((100% - 2 * 16px - 8px));
    margin-bottom: 109px;
  }
  .sub-header {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 8px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
  }
  .icon-wrap {
    display: none;
  }
}

/* #region Team Section for mobile */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team-section {
    background-color: #f4f4fd;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .container {
    margin: 0 auto;
    padding: 0 16px;
    /* width: 100vw; */
    max-width: 320px;
  }

  .team-container {
    /* padding: 0 16px; */
    display: flex;
    flex-direction: column;
  }

  .team-members-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-content: center;
    justify-content: center;
  }

  .team-img {
    display: block;
    width: 100%;
    /* object-fit: scale-down; */
    object-fit: cover;
  }

  .team-text {
    display: flex;

    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 72px;
    padding: 0;
    width: 100%;
  }

  .team-sub-header {
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    flex-wrap: nowrap;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
  }

  .team-members-list-item {
    background-color: #ffffff;
    /* width: calc((100% - 3 * 24px) / 4); */
    width: calc((100% - 2 * 0px));
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* #endregion Team Section for mobile */

/* #region Footer for mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding: 96px 0;
    min-width: 320px;
  }

  .footer-soc-links-cont {
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* align-items: baseline; */
  }

  .footer-subscribe-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
/* #endregion Footer for mobile */

/* #region Backdrop Modal for mobile */
/* #endregion Backdrop Modal for mobile */
