body {
  background-color: #ffffff;
  color: #434455;
  font-family: 'Roboto', sans-serif;
  /* second-family: 'Raleway', sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

img {
  display: block;
}

p {
  line-height: 1.5;
  letter-spacing: 0.02em;
  /* color: #434455; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region Header */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.nav {
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-left: 0;
}

.logo-span {
  color: #2e2f42;
}
.logo-span-footer {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.menu {
  font-size: 16px;
}
.menu-item {
}
.menu-link {
  font-weight: 500;
  /* font-size: 16px; */
  font-size: inherit;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-transform: capitalize;
}

.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: #404bbf;
}

.menu-link:active {
  text-decoration: underline;
}

.address {
  color: #434455;
  font-size: 16px;
  font-style: normal;
}
.address-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-transform: lowercase;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

/* #endregion Header */

/* #region Section Hero */
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  color: #fff;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  text-align: center;
  margin-top: 48px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
/* #endregion Section Hero */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;

  /* padding-right: 16px;
  padding-left: 16px; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1158px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.menu {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.header,
.sub-header {
  color: #2e2f42;
}

.header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

.sub-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* #region Hero Section */

.hero-container {
  /* padding-top: 188px;
  padding-bottom: 164px;
  padding-left: 472px;
  padding-right: 472px; */
}

/* #endregion Hero Section */

/* #region Section Benefits */

.benefits {
  padding: 120px 0;
  /* padding-top: 144px;
  padding-bottom: 121px;
  padding-left: 156px;
  padding-right: 156px; */
}

.benefits-container {
  /* padding: 120px 0 120px 0;
  border-top: none;*/
}

.benefits-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 3 * 24px) / 4);
  /* width: 264px; */
  /* width: calc((100% - 24 * 3) / 4); */
}

/* #endregion Section Benefits */

/* #region Team section */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-container {
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-members-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-members-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  /* width: 264px; */
  height: 380px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-text {
  display: block;
  padding: 32px 0;
}
.team-sub-header,
.team-descr {
  text-align: center;
  text-transform: capitalize;
}
.team-img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}
/* #endregion Team section */

/* #region Portfolio section */
.portfolio-section {
  padding: 120px 0 120px 0;
  border-top: none;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.products-list-item {
  width: calc((100% - 48px) / 3);
}
.products-list-img {
  display: block;
  min-width: 100%;
  object-fit: cover;
}
.products-text {
  display: block;
  text-align: left;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.products-sub-header {
  margin-bottom: 8px;
}
.products-descr {
}

/* #endregion Portfolio section */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  margin-left: 156 px;
}

.footer-p {
  /* line-height: 1.5;
  letter-spacing: 0.02em; */
  display: block;
  color: #f4f4fd;
  max-width: 254px;
}
